*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none; 
}
img{
	display: block;
}
body{
	width: 100%;
	height: auto;
	background-color:#fff;
}
.title{
	width: 100%;
	height: 79px;
	background-color: rgba(0, 0, 0, 0.15);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.title .tit{
	width: 1310px;
	height: 79px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.title .tit .box1{
	width: 150px;
	height: 79px;
}
.title .tit .box1 a{
	display: block;
	width: 150px;
	height: 79px;
}
.title .tit .box1 a img{
	width: 150px;
	height: 50px;
	margin-top: 14.5px;
}
.title .tit .box2{
	width: 501px;
	height: 79px;
	display: flex;
	box-sizing: border-box;
}
.title .tit .box2 .smallbox{
	width: 56px;
	height: 79px;
	padding: 0 15px 0 15px;
	flex-shrink: 0;
}
.title .tit .box2 .smallbox:hover{
	cursor: pointer;
}
.title .tit .box2 .smallbox:hover a{
	color: #16b0dc;
}
.title .tit .box2 .smallbox a{
	color: #fff;
	line-height: 79px;
	font-size: 14px;
	transition: all 0.5s;
}
.title .tit .box2 .smallbox:last-child a{
	color: #16b0dc;
}
.photo{
	width: 100%;
}
.bot{
	width: 100%;
	height: 672px;
	padding: 30px 0;
}
.bot .box{
	width: 1250px;
	height: 612px;
	padding: 30px;
	margin: 0 auto;
}
.bot .box p{
	width: 1220px;
	height: 32px;
	text-align: center;
	line-height: 1.8;
    font-size: 18px;
    font-weight: 300;
    color: #222;
}
.bot .box p:nth-of-type(1){
	margin-bottom: 16px;
}
.bot .box p:nth-of-type(9){
	height: 340px;
}
.bot .box p:nth-of-type(9) img{
	margin: 0 auto;
}
